* {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px;
}

th,
td,
caption {
  border: 1px solid black;
  padding: 2px 4px;
}

.weekend {
  color: #ff0000;
}

caption {
  font-weight: bolder;
  border-bottom: none;
}
